// bower:scss
// endbower

// fonts
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

// settings
$color-font: #99B2B8;
$color-bg1: #073642;
$color-bg2: #002B36;
$color-bg3: #001F27;
$breakpoint: 848px;

body {
  background: $color-bg3;
  font-family: 'Source Code Pro', monospace;
  color: $color-font;
}

.page {
  &-wrapper {
    margin: 10% auto 0 auto;
    max-width: 900px;
    width: 100%;
  }

  &-header {
    margin-bottom: 60px;
    text-align: center;

    @media (min-width: $breakpoint) {
      text-align: right;
    }

    > hr {
      border: 0;
      border-bottom: 1px solid $color-bg1;
      margin: 6px auto;
      width: 100px;

      @media (min-width: $breakpoint) {
        margin: 6px 0 6px auto;
      }
    }
  }

  &-title {
    font-weight: lighter;
    margin: 0;
    text-transform: uppercase;
  }

  &-block {
    text-transform: lowercase;
    vertical-align: top;
    width: 100%;

    @media (min-width: $breakpoint) {
      display: inline-block;
      width: 30%;
    }

    &:not(:last-of-type) {
      margin-right: 3.8%;
    }

    ul {
      margin: 0;
      padding: 0 16px;;
    }

    li {
      color: $color-bg1;
      margin-bottom: 10px;

      @media (min-width: $breakpoint) {
        margin-bottom: 4px;
      }

      &:hover {
        color: $color-font;
      }
    }

    a {
      color: $color-font;
      display: block;
      text-decoration: none;
    }

  }

  &-nav-title {
    background-color: $color-bg2;
    font-weight: lighter;
    padding: 6px 20px;
  }
}
